<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.nisrulz.example.mylibrary">

    <application>
        <provider
            android:name=".MyLibInitProvider"
            android:authorities="${applicationId}.mylibrary"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
